.list {
  border: 1px solid black;
}
.image {
  padding: 0.5vh;
}
.image img {
  width: 10vh;
  height: 10vh;
}
.coursename {
  font-family: "Arial Narrow";
  font-weight: bold;
  font-size: 2.5vh;
}
.deleteButton {
  height: 80%;
}
